// .btn — блок             модификаторы: --primary/--secondary/--disabled            --sm/--md/--lg
@use 'variables' as *;
@use 'mixins' as *;

.btn {
    --btn-bg: $color-surface;
    --btn-fg: $color-text;
    --btn-bg-hover: lighten($color-surface, 4%);
    --btn-bg-active: darken($color-surface, 4%);


    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $space-2;
    padding: .625rem 1rem; // md по умолчанию
    border-radius: $radius-lg;
    background: var(--btn-bg);
    color: var(--btn-fg);
    border: 1px solid $color-border;
    box-shadow: $shadow-1;
    cursor: pointer;
    transition: background .15s ease, transform .05s ease, border-color .15s ease;


    &:hover {
        background: var(--btn-bg-hover);
    }

    &:active {
        background: var(--btn-bg-active);
        transform: translateY(1px);
    }

    &:focus-visible {
        @include focus-ring;
    }


    &--sm {
        padding: .5rem .75rem;
        font-size: .875rem;
    }

    &--md {}

    &--lg {
        padding: .875rem 1.25rem;
        font-size: 1.125rem;
    }


    &--primary {
        --btn-bg: $primary-600;
        --btn-fg: #fff;
        --btn-bg-hover: $primary-500;
        --btn-bg-active: $primary-700;
        border-color: transparent;
    }

    &--secondary {
        --btn-bg: $secondary-600;
        --btn-fg: #fff;
        --btn-bg-hover: $secondary-500;
        --btn-bg-active: darken($secondary-600, 6%);
        border-color: transparent;
    }

    &--disabled,
    &:disabled {
        cursor: not-allowed;
        opacity: .6;
        --btn-bg: $color-border;
        --btn-fg: $color-muted;

        &:hover,
        &:active {
            background: var(--btn-bg);
            transform: none;
        }
    }
}